# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

build/_output
models/*/_bin

# Jenkins report files
coverage.xml
report.xml

modelplugin/aether-*/openapi-gen
modelplugin/aether-*/aether-*.tree
modelplugin/aether-*/aether-*-openapi3.yaml

modelplugin/plproxy-*/openapi-gen
modelplugin/plproxy-*/plproxy-*.tree
modelplugin/plproxy-*/plproxy-*-openapi3.yaml
